#dark .arcade {
    &__intro {
        width: 100vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('../assets/arcade-dark.svg');
        background-repeat: no-repeat;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-left: 15vw;
        position: relative;
    }

    &__heading {
        @include heading-darkmode;
        margin-bottom: 2rem;
    }

    &__p {
        width: 55ch;
        @include p-text-darkmode;
    }

    &__top-right-star-div {
        width: 25vw;
        height: 35vh;
        position: absolute;
        top: 0%;
        left: 60%;
        transform: translate(0%, -10%);
    }

    &__top-right-star-div-yellow {
        display: none;
    }

    &__twinkle:hover {
        animation: running;
        cursor: pointer;
    }

    &__big-star-tr {
        position: relative;
        top: 10%;
        left: 60%;
        animation: starTwinkle 5s;
    }

    &__small-star-one-tr {
        position: relative;
        top: 45%;
        left: 65%;
        animation: starTwinkle 4s;
    }

    &__small-star-two-tr {
        position: relative;
        top: 30%;
        left: 35%;
        animation: starTwinkle 3.5s;
    }

    @keyframes starTwinkle {
        0% { transform: scale(1) }
        25% { transform: scale(1.4) }
        50% { transform: scale(1) }
        75% { transform: scale(1.3) }
        100% { transform: scale(1) }
    }
}

#light .arcade {
    &__intro {
        width: 100vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('../assets/arcade-light.svg');
        background-repeat: no-repeat;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-left: 15vw;
        position: relative;
    }

    &__heading {
        @include heading;
        margin-bottom: 2rem;
    }

    &__p {
        width: 55ch;
        @include p-text;
    }

    &__top-right-star-div {
        display: none;
    }

    &__top-right-star-div-yellow {
        width: 25vw;
        height: 35vh;
        position: absolute;
        top: 0%;
        left: 60%;
        transform: translate(0%, -10%);
    }

    &__twinkle:hover {
        animation: running;
        cursor: pointer;
    }

    &__big-star-tr {
        position: relative;
        top: 10%;
        left: 60%;
        animation: starTwinkle 5s;
    }

    &__small-star-one-tr {
        position: relative;
        top: 45%;
        left: 65%;
        animation: starTwinkle 4s;
    }

    &__small-star-two-tr {
        position: relative;
        top: 30%;
        left: 35%;
        animation: starTwinkle 3.5s;
    }

    @keyframes starTwinkle {
        0% { transform: scale(1) }
        25% { transform: scale(1.4) }
        50% { transform: scale(1) }
        75% { transform: scale(1.3) }
        100% { transform: scale(1) }
    }
}