.madlibs-game {
    width: 100%;
    height: 80%;
    @include center;
    flex-direction: column;

    &__emojis{
        font-size: 10rem;
        cursor: pointer;
        user-select: none;
        margin: 0px;
    }
    
    &__story{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
    }
    
    &__endBtn{
        background: white;
        font-size: 3rem;
        border: 1px solid rgb(165, 165, 165);
    }

    &__story {
        @include p-text;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    &__input-div {
        display: flex;
    }

    &__arrow-emoji {
        font-size: 2rem;
        margin-left: 1rem;
    }
    
    // &__img1{
    //     display: none;
    // }
    
    // &__img2{
    //     display: none;
    // }
    
    // &__img3{
    //     display: none;
    // }
    
    // &__img4{
    //     display: none;
    // }
    
    // &__img5{
    //     display: none;
    // }
    
    // &__img-run{
    //     display: none;
    // }
    
    // &__img-kiss{
    //     display: none;
    // }
    
    // &__story-p1{
    //     display: none;
    // }
    
    // &__story-p2{
    //     display: none;
    // }
    
    // &__story-p3{
    //     display: none;
    // }
    
    // &__story-p4{
    //     display: none;
    // }
    
    // &__story-p5{
    //     display: none;
    // }
    
    // &__story-run{
    //     display: none;
    // }
    
    // &__story-kiss{
    //     display: none;
    // }
    
    // &__active{
    //     display: block;
    // }
}