@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin p-text {
    font-family: $text-font;
    color: $text-colour;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

@mixin landing-heading-text {
    width: 40ch;
    @include p-text;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

@mixin landing-middle-text {
    width: 40ch;
    @include p-text;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 2rem;
    margin-bottom: 2rem;
}