@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin p-text-darkmode {
    font-family: $text-font;
    color: white;
    font-size: 2rem;
}

@mixin light-p-text-darkmode {
    @include p-text-darkmode;
    color:  $light-text-colour;
}

@mixin heading-darkmode {
    @include p-text-darkmode;
    font-size: 3rem;
    font-weight: bolder;
}

@mixin p-text {
    font-family: $text-font;
    color: $text-colour;
    font-size: 2rem;
}

@mixin light-p-text {
    @include p-text;
    color:  $light-text-colour;
}

@mixin landing-heading-text {
    @include p-text;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

@mixin heading {
    @include p-text;
    font-size: 3rem;
    font-weight: bolder;
}